/* line 20, index/static/index/scss/style.scss */
.landing-page-background {
  background-color: #a8dcf8;
  background-position: center;
  background-image: url("/static/index/landing_background.jpg"); }

/* line 31, index/static/index/scss/style.scss */
.main-todo-content-block {
  position: absolute;
  padding-left: 20%; }
  @media (min-width: 400px) {
    /* line 31, index/static/index/scss/style.scss */
    .main-todo-content-block {
      padding-left: initial; } }
/* line 56, index/static/index/scss/style.scss */
.due_date {
  border: 0.6rem solid #1e1d1d;
  background-color: #adadad; }

/* line 66, index/static/index/scss/style.scss */
.todo-page-background {
  background-color: #000000ea; }

/* line 73, index/static/index/scss/style.scss */
.todo-page-navbar {
  flex-basis: 50%; }
  /* line 76, index/static/index/scss/style.scss */
  .todo-page-navbar-input {
    background-color: #000000ea;
    width: 100% !important; }
    /* line 80, index/static/index/scss/style.scss */
    .todo-page-navbar-input:focus {
      background-color: #000000ea; }

/* line 91, index/static/index/scss/style.scss */
.todo-page-sidenav-openbtn {
  color: #007bff;
  cursor: pointer;
  font-size: 1.5rem; }

/* line 97, index/static/index/scss/style.scss */
.todo-page-sidenav-anchor {
  height: 1.1rem; }
  /* line 99, index/static/index/scss/style.scss */
  .todo-page-sidenav-anchor:hover {
    text-decoration: none; }

/* line 105, index/static/index/scss/style.scss */
.todo-page-sidenav-icons {
  color: #918c8c; }

/* line 110, index/static/index/scss/style.scss */
.todo-page-sidenav-content {
  opacity: 1;
  -webkit-animation: fadein 2s;
  animation: fadein 2s; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

/* line 139, index/static/index/scss/style.scss */
.todo-page-side-column {
  border-right: 1px solid #fff;
  background-color: #1e1d1d;
  transition: all ease-in-out 0.15s;
  position: relative;
  z-index: 10; }

/* line 150, index/static/index/scss/style.scss */
.todo-page-sub-appbar {
  padding: 1rem; }
  /* line 153, index/static/index/scss/style.scss */
  .todo-page-sub-appbar-text-color {
    color: #007bff; }

/* line 161, index/static/index/scss/style.scss */
.todo-page-add-task-form {
  width: 100% !important; }
  /* line 165, index/static/index/scss/style.scss */
  .todo-page-add-task-form-input {
    background-color: inherit; }
    /* line 168, index/static/index/scss/style.scss */
    .todo-page-add-task-form-input:focus {
      background-color: inherit; }
  /* line 174, index/static/index/scss/style.scss */
  .todo-page-add-task-form-submit-text {
    font-size: 1.5rem; }

/* line 183, index/static/index/scss/style.scss */
.todo-page-display-tasks {
  height: auto;
  color: #fff;
  word-break: break-all;
  border-bottom: 1px solid rgba(128, 128, 128, 0.137); }
  /* line 188, index/static/index/scss/style.scss */
  .todo-page-display-tasks:hover {
    background-color: #1e1d1d; }

/* line 193, index/static/index/scss/style.scss */
.todo-page-list-tasks-form {
  display: inline-flex; }

/* line 197, index/static/index/scss/style.scss */
.todo-page-list-tasks-submit-btn {
  padding-right: 0 0.5rem 0 0;
  border: none;
  background-color: transparent;
  color: white; }

/* line 208, index/static/index/scss/style.scss */
.todo-page-dropdown-menu {
  background-color: #1e1d1d;
  border: 1px solid rgba(128, 128, 128, 0.452); }

/* line 217, index/static/index/scss/style.scss */
.todo-page-add-calendar-form {
  flex-direction: column; }
