/* line 15, index/static/index/scss/style.scss */
.landing-page-background {
  background-color: #a8dcf8;
  background-position: center;
  background-image: url("/static/index/landing_background.jpg"); }
