/* line 6, index/static/index/scss/style.scss */
input::placeholder {
  color: #fff !important; }

/* line 11, index/static/index/scss/style.scss */
.errorlist {
  color: red;
  list-style-type: none; }

/* line 17, index/static/index/scss/style.scss */
label {
  display: none; }

/* line 43, index/static/index/scss/style.scss */
.due_date {
  border: 0.6rem solid #1e1d1d;
  background-color: #adadad; }

/* line 54, index/static/index/scss/style.scss */
.todo-page-background {
  background-color: #000000ea; }

/* line 62, index/static/index/scss/style.scss */
.todo-page-navbar {
  flex-basis: 50%; }
  /* line 65, index/static/index/scss/style.scss */
  .todo-page-navbar-input {
    background-color: #000000ea;
    width: 100% !important; }
    /* line 69, index/static/index/scss/style.scss */
    .todo-page-navbar-input:focus {
      background-color: #000000ea; }
  /* line 74, index/static/index/scss/style.scss */
  .todo-page-navbar-avatar {
    height: 32px;
    width: 32px;
    background-color: #fff; }

/* line 87, index/static/index/scss/style.scss */
.todo-page-sidenav-openbtn {
  color: #007bff;
  cursor: pointer;
  font-size: 1.5rem; }

/* line 93, index/static/index/scss/style.scss */
.todo-page-sidenav-anchor {
  height: 1.1rem; }
  /* line 95, index/static/index/scss/style.scss */
  .todo-page-sidenav-anchor:hover {
    text-decoration: none; }

/* line 101, index/static/index/scss/style.scss */
.todo-page-sidenav-icons {
  color: #918c8c; }

/* line 106, index/static/index/scss/style.scss */
.todo-page-sidenav-content {
  opacity: 1;
  -webkit-animation: fadein 2s;
  animation: fadein 2s; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

/* line 136, index/static/index/scss/style.scss */
.todo-page-side-column {
  border-right: 1px solid #fff;
  background-color: #1e1d1d;
  transition: all ease-in-out 0.15s;
  position: relative;
  z-index: 10; }

/* line 148, index/static/index/scss/style.scss */
.todo-page-sub-appbar {
  padding: 1rem; }
  /* line 151, index/static/index/scss/style.scss */
  .todo-page-sub-appbar-text-color {
    color: #007bff; }

/* line 160, index/static/index/scss/style.scss */
.todo-page-add-task-form {
  width: 100% !important; }
  /* line 164, index/static/index/scss/style.scss */
  .todo-page-add-task-form-input {
    background-color: inherit; }
    /* line 167, index/static/index/scss/style.scss */
    .todo-page-add-task-form-input:focus {
      background-color: inherit; }
  /* line 173, index/static/index/scss/style.scss */
  .todo-page-add-task-form-submit-text {
    font-size: 1.5rem; }

/* line 182, index/static/index/scss/style.scss */
.todo-page-display-tasks {
  height: auto;
  color: #fff;
  word-break: break-all;
  border-bottom: 1px solid rgba(128, 128, 128, 0.137); }
  /* line 187, index/static/index/scss/style.scss */
  .todo-page-display-tasks:hover {
    background-color: #1e1d1d; }

/* line 192, index/static/index/scss/style.scss */
.todo-page-list-tasks-form {
  display: inline-flex; }

/* line 196, index/static/index/scss/style.scss */
.todo-page-list-tasks-submit-btn {
  padding-right: 0 0.5rem 0 0;
  border: none;
  background-color: transparent;
  color: white; }

/* line 207, index/static/index/scss/style.scss */
.todo-page-dropdown-menu {
  background-color: #1e1d1d;
  border: 1px solid rgba(128, 128, 128, 0.452); }

/* line 216, index/static/index/scss/style.scss */
.todo-page-add-calendar-form {
  flex-direction: column; }

/* line 226, index/static/index/scss/style.scss */
.main-todo-content-block {
  position: absolute;
  padding-left: 20%; }
  @media (min-width: 450px) {
    /* line 226, index/static/index/scss/style.scss */
    .main-todo-content-block {
      padding-left: initial;
      position: static; } }
/* line 251, index/static/index/scss/style.scss */
.users-background {
  background-color: #000000ea; }
