/* line 14, index/static/index/scss/style.scss */
.landing-page-background {
  background-color: #a8dcf8;
  background-position: center;
  background-image: url("/static/index/landing_background.jpg"); }

/* line 34, index/static/index/scss/style.scss */
.todo-page-background {
  background-color: #000000d4; }

/* line 38, index/static/index/scss/style.scss */
.todo-page-navbar {
  flex-basis: 50%; }
  /* line 41, index/static/index/scss/style.scss */
  .todo-page-navbar-input {
    background-color: #000000d4;
    width: 100% !important; }

/* line 47, index/static/index/scss/style.scss */
.todo-page-side-menu {
  background-color: #000000d4; }
