<div class="dropleft">
  <button
    type="button"
    class="todo-page-list-tasks-submit-btn pl-4"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="fas fa-ellipsis-v todo-page-sidenav-icons"></i>
  </button>
  <div
    class="dropdown-menu todo-page-dropdown-menu rounded-0"
    aria-labelledby="dropdownMenu"
  >
    {% include "../partials/forms/add_calendar_date_important.html" %}
    {% include "../partials/forms/delete_imp_task.html" %}  
  </div>
</div>
