{% for important_task in list_all_important_tasks %}
    <!-- Only display tasks marked as 'important' -->
    {% if important_task.important == True %}
        <div class="col todo-page-display-tasks pb-1 pt-1 d-flex justify-content-between">
            <!-- If a task is marked as completed then display a 'strike through' --> 
            {% if important_task.completed == True %}
                <div>
                    {% include "../partials/forms/uncomplete_important_tasks.html" %}
                    <s>{{ important_task.todo }}</s>
                    <!-- If an important task has a due date, then display it under the task description -->
                    {% include "../partials/display_important_due_date.html" %}
                </div>
            {% else %}
            <!-- If a task is not completed, do not strikethrough the text and show the uncompleted icon -->
                <div>
                    {% include "../partials/forms/complete_important_task.html" %}
                    {{ important_task.todo }}
                    <!-- If an important task has a due date, then display it under the task description -->
                    {% include "../partials/display_important_due_date.html" %}
                </div>
            {% endif %}
            <!-- Conditional to check whether a task is marked as important, depending if true/false - show the appropriate icon -->
            <div class="d-flex">
                {% if task.important == False %}
                    {% include "../partials/forms/update_importance.html" %}
                {% else %}
                    {% include "../partials/forms/downgrade_importance.html" %}
                {% endif %}
                {% include "../partials/dropdown_imp.html" %}
            </div>
        </div>
    {% endif %}
{% endfor %}
