////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Landing page styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // Color variables
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    $landing-page-background-color: #a8dcf8;

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // Classes
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


    .landing-page-background {
        background-color: $landing-page-background-color;
        background-position: center;
        background-image: url("../landing_background.jpg");
    }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// To-do page styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // Color variables
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    $todo-page-background-color: #000000d4;

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // Classes
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    .todo-page-background {
        background-color: $todo-page-background-color;
    }

    .todo-page-navbar {
        flex-basis: 50%;
    }

    .todo-page-navbar-input {
        background-color: $todo-page-background-color;
        width: 100% !important;
    }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
