////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Landing page styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // Color variables
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    $landing-page-background-color: #a8dcf8;

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // Classes
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


    .landing-page-background {
        background-color: $landing-page-background-color;
        background-position: center;
        background-image: url("../landing_background.jpg");
    }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
