<nav class="navbar">
  <form class="form-inline todo-page-add-task-form">
    <div class="input-group mb-3 todo-page-add-task-form">
      <div class="input-group-prepend">
        <button class="input-group-text todo-page-add-task-form-input border-0">
          <span class="todo-page-add-task-form-submit-text">+</span>
        </button>
      </div>
      <input
        class="form-control rounded-0 mr-sm-2 todo-page-add-task-form-input border-top-0 border-right-0 border-left-0"
        type="search"
        placeholder="Add a task"
        aria-label="Add a task"
      />
    </div>
  </form>
</nav>
