{% for task in display_task %}
  <div class="col todo-page-display-tasks d-flex justify-content-between align-items-center">
    <!-- If a task if marked as completed, show the strikethrough and the completed icon-->
    {% if task.completed == True %}
    <div>
      {% include "../partials/forms/edit_task_form_false.html" %}
      <!-- If a task is marked as completed then display a 'strike through' -->
      <s>{{ task.todo }}</s>
    </div>
    {% else %}
      <!-- If a task is not completed, do not strikethrough the text and show the uncompleted icon -->
      <div>
        {% include "../partials/forms/edit_task_form_true.html" %}
        {{ task.todo }}
      </div>
    {% endif %}
    <!-- Conditional to check whether a task is marked as important, depending if true/false - show the appropriate icon -->
    <div class="d-flex">
      {% if task.important == False %}
        {% include "../partials/forms/update_task_importance.html" %}
      {% else %}
        {% include "../partials/forms/downgrade_task_importance.html" %}
      {% endif %}
      {% include "../partials/dropdown.html" %}
    </div>
  </div>
{% endfor %}
