<span class="todo-page-sidenav-openbtn pb-4" onclick="openNav();">&#9776;</span>
<a href="{% url 'index' %}" title="Important tasks" class="d-flex text-white mb-2"><i class="far fa-star todo-page-sidenav-icons align-self-center"></i>
  <span id="sideNavContentOne" class="d-none todo-page-sidenav-content">Important</span>
</a>
<a href="{% url 'todo' %}" title="Home" class="d-flex text-white mt-2"><i class="fas fa-home todo-page-sidenav-icons align-self-center"></i>
  <span id="sideNavContentTwo" class="d-none todo-page-sidenav-content">Home</span>
</a>

