<span class="todo-page-sidenav-openbtn pb-4" onclick="openNav();">&#9776;</span>
<a href="{% url 'todo_important_all' %}" title="Important tasks" class="d-flex text-white pb-2 todo-page-sidenav-anchor"><i class="far fa-star todo-page-sidenav-icons align-self-center"></i>
  <span id="sideNavContentOne" class="d-none todo-page-sidenav-content">Important
    {% if find_important_task_count > 0 %}
      <span class="pl-2">({{ find_important_task_count }})</span>
    {% endif %}
  </span>
</a>
<a href="{% url 'todo' %}" title="Home" class="d-flex text-white mt-2 todo-page-sidenav-anchor"><i class="fas fa-home todo-page-sidenav-icons align-self-center"></i>
  <span id="sideNavContentTwo" class="d-none todo-page-sidenav-content">Home</span>
</a>

