{% extends "base.html" %} 
{% load static %} 

{% block title %}Register or Login{% endblock %} 

{% block content %}
{% include "index/partials/navbar.html" %}
<div class="container-fluid users-background text-center d-flex flex-column justify-content-center pb-4">
    <div class="row">
        <div class="col vh-100 d-flex flex-column justify-content-center">
            {% include "index/welcome.html" %}
            {% block users %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

