<div class="dropleft align-self-center">
  <button
    type="button"
    class="todo-page-list-tasks-submit-btn pl-4"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    aria-label="open Menu"
  >
    <i class="fas fa-ellipsis-v todo-page-sidenav-icons"></i>
  </button>
  <div 
    class="dropdown-menu todo-page-dropdown-menu rounded-0" 
    aria-label="dropdown menu"
  >
    {% include "../partials/forms/add_calendar_date.html" %}
    {% include "../partials/forms/delete_todo.html" %}
  </div>
</div>
