{% extends "base.html" %} 
{% load static %} 

{% block title %}Python - Django - Bootstrap{% endblock %} 

{% block content %}

{% include "./partials/navbar.html" with todays_date=todays_date %} 

<div class="container-fluid users-background d-flex justify-content-center vh-100">
  <div class="row">
    <div class="col text-center d-flex flex-column justify-content-center">
      {% include "./welcome.html" %}
        <a href="{% url "login" %}" class="alert-link text-white mb-4 " onclick="nonFormLoadingSpinner(event)">
          Login
        </a>
        <a href="{% url "register" %}" class="alert-link text-white" onclick="nonFormLoadingSpinner(event)">
          Register
        </a>
    </div>
  </div>
</div>
{% endblock %}
