{% load static %}
{% load compress %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% compress css %}
      <!-- Bootstrap SASS -->
      <link type="text/x-scss" href="{% static 'index/bootstrap/bootstrap.scss' %}" rel="stylesheet">
      <!-- Custom SASS -->
      <link type="text/x-scss" href="{% static 'index/scss/style.scss' %}" rel="stylesheet">
    {% endcompress %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include "./partials/navbar.html" with todays_date=todays_date %} 
    
    {% block content %} 
    {% endblock %} 
</html>
