{% extends "base.html" %} 
{% load static %} 

{% block title %}Python - Django - Bootstrap{% endblock %} 

{% block content %}
{% include "../partials/todo-navbar.html" %}
<div class="container-fluid vh-100 todo-page-background">
  <div class="row vh-100">
    <div class="col-2 col-sm-1 col-md-1 col-lg-1 todo-page-side-column d-flex flex-column">
      {% include "../partials/slide-menu.html" %}
    </div>
    <div class="col">
      {% include "../partials/sub-appbar.html" %}
      {% include "../partials/add-task-form.html" %}
    </div>
  </div>
</div>
{% endblock %}